@font-face {
    font-family: "MadimiOne-Regular";
    src: url("./../fonts/MadimiOne-Regular.woff2") format("woff2"),
        url("./../fonts/MadimiOne-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TitanOne-Regular";
    src: url("./../fonts/TitanOne-Regular.woff2") format("woff2"),
        url("./../fonts/TitanOne-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}