<section class="contract container logic-block" id="address">
    <div class="contract__inner">
        <h2 class="title title--white contract__title">Contract Adress</h2>
        <div class="contract__copy">
            <p class="contract__code">
                3ZJz8wRK5zwhhgKRuSPjZXQtuDLY9jxs7vGWXeEncJqg
            </p>
            <button class="contract__copy-button">Copy</button>
        </div>
        <button class="contract__button global-button global-button--1st-theme">Buy Spunge</button>
    </div>
</section>