<footer class="footer container logic-block">
    <div class="footer__inner">
        <h2 class="title title--white-no-shadow footer__title">Join us!</h2>
        <ul class="footer__list">
            <li class="footer__item">
                <a href="#">
                    <img src="./img/icon/x.svg" alt="X.com" class="footer__soc1al">
                </a>
            </li>
            <li class="footer__item">
                <a href="#">
                    <img src="./img/icon/telegram.svg" alt="X.com" class="footer__soc1al">
                </a>
            </li>
        </ul>
    </div>
</footer>