<section class="partners container logic-block" id="partners">
    <div class="partners__inner">
        <h2 class="title title--white partners__title">Partners & unity</h2>
        <ul class="partners__list">
            <li class="partners__item">
                <a href="#">
                    <picture>
                        <source srcset="./img/sections/partners/partner-1.webp" type="image/webp">
                        <img src="./img/sections/partners/partner-1.png" alt="Partner DEXTools" title="Partner DEXTools" class="partners__logo">
                    </picture>
                </a>
            </li>
            <li class="partners__item">
                <a href="#">
                    <picture>
                        <source srcset="./img/sections/partners/partner-2.webp" type="image/webp">
                        <img src="./img/sections/partners/partner-2.png" alt="Partner S" title="Partner S" class="partners__logo">
                    </picture>
                </a>
            </li>
            <li class="partners__item">
                <a href="#">
                    <picture>
                        <source srcset="./img/sections/partners/partner-3.webp" type="image/webp">
                        <img src="./img/sections/partners/partner-3.png" alt="Partner CoinGecko" title="Partner CoinGecko" class="partners__logo">
                    </picture>
                </a>
            </li>
            <li class="partners__item">
                <a href="#">
                    <picture>
                        <source srcset="./img/sections/partners/partner-4.webp" type="image/webp">
                        <img src="./img/sections/partners/partner-4.png" alt="Partner MEXC Global" title="Partner MEXC Global" class="partners__logo">
                    </picture>
                </a>
            </li>
            <li class="partners__item">
                <a href="#">
                    <picture>
                        <source srcset="./img/sections/partners/partner-5.webp" type="image/webp">
                        <img src="./img/sections/partners/partner-5.png" alt="Partner CoinMarketCap" title="Partner CoinMarketCap" class="partners__logo">
                    </picture>
                </a>
            </li>
            <li class="partners__item">
                <a href="#">
                    <picture>
                        <source srcset="./img/sections/partners/partner-6.webp" type="image/webp">
                        <img src="./img/sections/partners/partner-6.png" alt="Partner Cryptorank" title="Partner Cryptorank" class="partners__logo">
                    </picture>
                </a>
            </li>
        </ul>
    </div>

    <!-- Декорации -->
    <picture class="partners__decoration--1">
        <source srcset="./img/decoration/flower-2.webp" type="image/webp">
        <img src="./img/decoration/flower-2.png" alt="Decoration">
    </picture>
    <picture class="partners__decoration--2">
        <source srcset="./img/decoration/flower-2.webp" type="image/webp">
        <img src="./img/decoration/flower-2.png" alt="Decoration">
    </picture>
    <picture class="partners__decoration--3">
        <source srcset="./img/decoration/flower-2.webp" type="image/webp">
        <img src="./img/decoration/flower-2.png" alt="Decoration">
    </picture>
</section>