<section class="presale container logic-block" id="presale">
    <div class="presale__inner">
        <div class="presale__text">
            <h2 class="title title--colored presale__title">Presale Is Live - Join Spunge Now</h2>
            <p class="description presale__description">
                Spunge is currently in its presale phase, giving you the opportunity to buy Spunge before the official
                launch. Join the Spunge community now and secure your place in the pack!
            </p>
        </div>

        <div class="presale__invitation">
            <picture>
                <source srcset="./img/sections/presale/presale-img.webp" type="image/webp">
                <img src="./img/sections/presale/presale-img.png" alt="Presale img" class="presale__img global-img global-img--1st-theme presale__img">
            </picture>
            <div class="presale__buttons">
                <button class="presale__button global-button global-button--text-shadow-theme">Join airdrop</button>
                <button class="presale__button global-button global-button--text-shadow-theme">Buy Spunge</button>
            </div>
        </div>
    </div>

    <!-- Декорации -->
    <picture class="presale__decoration--1">
        <source srcset="./img/decoration/flower.webp" type="image/webp">
        <img src="./img/decoration/flower.png" alt="Decoration">
    </picture>
    <picture class="presale__decoration--2">
        <source srcset="./img/decoration/flowers-2.webp" type="image/webp">
        <img src="./img/decoration/flowers-2.png" alt="Decoration">
    </picture>
    <picture class="presale__decoration--3">
        <source srcset="./img/decoration/jellyfish.webp" type="image/webp">
        <img src="./img/decoration/jellyfish.png" alt="Decoration">
    </picture>
</section>