<section class="secure container logic-block">
    <div class="secure__inner">
        <div class="secure__text">
            <h2 class="title title--colored secure__title">SPUNGE is 100% SECURE</h2>
            <p class="description secure__description">
                Embracing the wisdom of its namesake, Spunge is fully committed to providing a secure and trustworthy blockchain experience for its vibrant community.
            </p>
        </div>

        <div class="secure__invitation">
            <picture>
                <source srcset="./img/sections/secure/secure-img.webp" type="image/webp">
                <img src="./img/sections/secure/secure-img.png" alt="secure img"
                    class="secure__img global-img global-img--2nd-theme secure__img">
            </picture>
            <div class="secure__buttons">
                <button class="secure__button global-button global-button--text-shadow-theme">Audit</button>
            </div>
        </div>
    </div>

    <!-- Декорации -->
    <picture class="secure__decoration--1">
        <source srcset="./img/decoration/flowers-4.webp" type="image/webp">
        <img src="./img/decoration/flowers-4.png" alt="Decoration">
    </picture>
    <picture class="secure__decoration--2">
        <source srcset="./img/decoration/jellyfish.webp" type="image/webp">
        <img src="./img/decoration/jellyfish.png" alt="Decoration">
    </picture>
    <picture class="secure__decoration--3">
        <source srcset="./img/decoration/jellyfish.webp" type="image/webp">
        <img src="./img/decoration/jellyfish.png" alt="Decoration">
    </picture>
</section>