<section class="tokenomics container logic-block" id="tokenomics">
    <div class="tokenomics__inner">
        <h2 class="title title--white tokenomics__title">Tokenomics</h2>
        <div class="tokenomics__body">

            <ul class="tokenomics__list">

                <li class="tokenomics__item tokenomics-item">
                    <h3 class="title title--white">Presale</h3>
                    <p class="tokenomics-item__value tokenomics-item__value--y">42,5%</p>
                </li>

                <li class="tokenomics__item tokenomics-item">
                    <h3 class="title title--white">Liquidity</h3>
                    <p class="tokenomics-item__value tokenomics-item__value--b">42,5%</p>
                </li>

                <li class="tokenomics__item tokenomics-item">
                    <h3 class="title title--white">Airdrop</h3>
                    <p class="tokenomics-item__value tokenomics-item__value--p">5%</p>
                </li>

                <li class="tokenomics__item tokenomics-item">
                    <h3 class="title title--white">Marketing</h3>
                    <p class="tokenomics-item__value tokenomics-item__value--db">10%</p>
                </li>

                <li class="tokenomics__item tokenomics-item">
                    <h3 class="title title--white">Tax</h3>
                    <p class="tokenomics-item__value">0/0</p>
                </li>

                <li class="tokenomics__item tokenomics-item tokenomics-item--code">
                    <h3 class="title title--white">CA</h3>
                    <p class="tokenomics-item__value" style="white-space: nowrap; font-size: 32px;">
                        3ZJz8wRK5zwhhgKRuSPjZXQtuDLY9jxs7vGWXeEncJqg
                    </p>
                </li>

            </ul>

            <picture class="tokenomics__img-picture">
                <source srcset="./img/sections/tokenomics/tokenomics-img.webp">
                <img src="./img/sections/tokenomics/tokenomics-img.webp" alt="Tokenomics" class="global-img global-img--2nd-theme tokenomics__img">
            </picture>
        </div>
    </div>

    <!-- Декорации -->
    <picture class="tokenomics__decoration--1">
        <source srcset="./img/decoration/flower-2.webp" type="image/webp">
        <img src="./img/decoration/flower-2.png" alt="Decoration">
    </picture>
    <picture class="tokenomics__decoration--2">
        <source srcset="./img/decoration/flower-2.webp" type="image/webp">
        <img src="./img/decoration/flower-2.png" alt="Decoration">
    </picture>
    <picture class="tokenomics__decoration--3">
        <source srcset="./img/decoration/jellyfish.webp" type="image/webp">
        <img src="./img/decoration/jellyfish.png" alt="Decoration">
    </picture>
</section>