<!-- header и welcome не имеют класса logic-block, т.к. он задан для их родителя "start" в index.html -->
<section class="welcome container">
    <div class="welcome__inner">
        <div class="welcome__text">
            <picture>
                <source srcset="./img/sections/welcome/welcome-car.webp" type="image/webp">
                <img src="./img/sections/welcome/welcome-car.png" alt="Spunge" class="welcome__img">
            </picture>
            <h1 class="welcome__title">SPUNGE</h1>
            <p class="description">
                Welcome to Spunge, the next
                big player in the world of memecoins
                on the blockchain! Spunge is more than just
                a cryptocurrency
            </p>
        </div>
        <!-- =include presale-stage-1.html -->
    </div>
</section>