<div class="modal" id="modal-howto" style="display: none;" onclick="toggle_howto()">
    <div class="modal__inner container">
        <div class="modal__text">
            <h2 class="title title--white modal__title">How to buy?</h2>

            <ol class="modal__list">
                <li class="modal__item">
                    <p class="modal__step">
                        Fund your Phantom/Solflare or any SOL wallet that supports tokens.
                    </p>
                </li>
                <li class="modal__item">
                    <p class="modal__step">
                        Copy the presale address and send SOL from your wallet to the address.
                    </p>
                </li>
                <li class="modal__item">
                    <p class="modal__step">
                        Tokens will be airdropped to your SOL contribution wallet at launch.
                    </p>
                </li>
            </ol>

            <p class="modal__note">
                Avoid using a centralized exchange (CEX) to send SOL! Utilize your personal wallet instead.
            </p>
        </div>

        <picture class="modal__img-picture">
            <source srcset="./img/sections/modal/modal-img.webp" type="image/webp">
            <img src="./img/sections/modal/modal-img.png" alt="Modal img" class="modal__img">
        </picture>
    </div>
</div>