<div class="modal" id="modal-howto" style="display: none;" onclick="toggle_howto()">
    <div class="modal__inner container">
        <div class="modal__text">
            <h2 class="title title--white modal__title">How to buy?</h2>

            <ol class="modal__list">
                <li class="modal__item">
                    <p class="modal__step">
                        Authorise through Phantom/Solfare wallet
                    </p>
                </li>
                <li class="modal__item">
                    <p class="modal__step">
                        Enter the amount
                    </p>
                </li>
                <li class="modal__item">
                    <p class="modal__step">
                        Pay the amount and complete the transaction
                    </p>
                </li>
            </ol>
        </div>

        <picture class="modal__img-picture">
            <source srcset="./img/sections/modal/modal-img.webp" type="image/webp">
            <img src="./img/sections/modal/modal-img.png" alt="Modal img" class="modal__img">
        </picture>
    </div>
</div>