<div class="p-stage">
    <h2 class="title title--white p-stage__title">Presale stage 1/4</h2>

    <ul class="p-stage__time p-stage-time">
        <li class="p-stage-time__item">
            <p class="p-stage-time__length">Days</p>
            <p class="p-stage-time__quantity">15</p>
        </li>
        <li class="p-stage-time__item">
            <p class="p-stage-time__length">Hours</p>
            <p class="p-stage-time__quantity">15</p>
        </li>
        <li class="p-stage-time__item">
            <p class="p-stage-time__length">Mins</p>
            <p class="p-stage-time__quantity">15</p>
        </li>
        <li class="p-stage-time__item">
            <p class="p-stage-time__length">Seconds</p>
            <p class="p-stage-time__quantity">15</p>
        </li>
    </ul>

    <div class="p-stage__funds p-stage-funds">
        <h3 class="title title--white p-stage-funds__title">Funds raised 4.48 SOL</h3>
        <div class="p-stage-funds__line">
            <p>
                0%
            </p>
        </div>
    </div>

    <ul class="p-stage__price p-stage-price">
        <li class="p-stage-price__item">
            <p class="p-stage-price__title">Current price</p>
            <p class="p-stage-price__quantity">0.00003 SOL</p>
        </li>
        <li class="p-stage-price__item">
            <p class="p-stage-price__title">Next price</p>
            <p class="p-stage-price__quantity">0.0000466 SOL</p>
        </li>
    </ul>

    <div class="p-stage__listing p-stage-listing">
        <h3 class="title title--white p-stage-listing__title">Listing price: 0.000105 (+250%)</h3>
        <p class="p-stage-listing__description">
            To buy dex explore token (TXE) send SOL coin!
            For 1 SOL 33.333 SPUNGE - Buy Min 0.2 SOL
        </p>
    </div>

    <button class="p-stage__button global-button global-button--1st-theme" onclick="toggle_howto()">How to buy?</button>

    <!-- Декорации -->
    <picture class="p-stage__decoration--1">
        <source srcset="./img/decoration/cap.webp" type="image/webp">
        <img src="./img/decoration/cap.png" alt="Decoration">
    </picture>
</div>